/* место для вашего кода */

.header {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header_meny {
  justify-content: flex-start;
}

.header_menu_list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header_logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header_address {
  font-style: normal;
  line-height: 24.3px;
  display: flex;
  flex-direction: column;
  max-width: 240px;
  justify-self: end;
}

.cover {
  margin: 0;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  min-height: 757px;
  color: #ffffff;
  position: relative;
  display: grid;
  gap: 106px;
}

.cover_main_mane {
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  display: grid;
  gap: 20px;
}

.cover_main_mane_left,
.cover_main_mane_center,
.cover_main_mane_right {
  line-height: 115%;
  letter-spacing: 30%;
  display: block;
}

.cover_main_mane_left {
  text-align: left;
}

.cover_main_mane_center {
  text-align: center;
  margin-left: 30px;
}

.cover_main_mane_right {
  text-align: right;
  margin-right: -30px;
}

.cover_description {
  justify-content: space-between;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.cover_description_name {
  word-spacing: 18px;
}

.cover_description_buttom {
  all: unset;
  padding: 12px 32px;
  border: solid;
  border-width: 1px;
}

.lots {
  margin: 180px 24px 120px 24px;
}

.lots_title {
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 35px;
}

.lots_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.lots_films,
.lots_books,
.lots_paints {
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
  width: 334px;
  height: 596px;
  color: #ffffff;
  position: relative;
}

.lots_films_name,
.lots_books_name,
.lots_paints_name {
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.lots_films_article,
.lots_books_article,
.lots_paints_article {
  font-size: 20px;
  line-height: 120%;
  position: relative;
  z-index: 2;
}

.lots_films {
  background-image: url(../images/card-lot-01.jpg);
}

.lots_books {
  background-image: url(../images/card-lot-02.jpg);
}

.lots_paints {
  background-image: url(../images/card-lot-03.jpg);
}

.for_flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lots_more {
  font-size: 20px;
  line-height: 100%;
  text-decoration: underline;
  margin-left: 40px;
}

.about {
  margin: 0px 24px 180px 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about_logo {
  margin-left: 47px;
  margin-top: 35px;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.about_logo_img {
  width: 148px;
  height: 114px;
  margin: 64px 45.52px 62px 46.48px;
}

.about_information {
  margin-top: 140px;
}

.about_information_title {
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 100px;
}

.about_information_text {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  display: grid;
  gap: 24px;
}

.footer {
  margin: 0px 0px 120px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 50px 0px 50px;
}

.footer_address {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  display: flex;
  flex-direction: column;
  width: 264px;
}

.footer_menu_list {
  list-style: none;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.footer_link {
  display: flex;
  gap: 48px;
  justify-content: flex-end;
}

.footer_logo_yt,
.footer_logo_vk,
.footer_logo_pin {
  width: 48px;
  height: 48px;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0/0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}